<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/indexstyle.css" />
</head>
<body>
    <header>
        <div>
            <h1>Well, You know!</h1>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Home!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>*@
                        @Html.ActionLink("Home", "Index")
                    </li>
                    <li class="nav-item">
                        @*<a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Books">Books Page</a>*@
                        @Html.ActionLink("Books", "Books")
                    </li>
                    <li class="nav-item">
                        @*<a class="nav-link text-dark" asp-area="" asp-controller="Albums" asp-action="Albums">Albums Page</a>*@
                        @Html.ActionLink("Albums", "Albums")
                    </li>
                    <li class="nav-item">
                        @*<a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="Games">Games Page</a>*@
                        @Html.ActionLink("Games", "Games")
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    @*<h3 class="display-2">Here we Are!</h3>*@
    <div>
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Glinda Seed
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
